# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
*.egg

# macOS
.DS_Store

# Logs
*.log

# Archives
*.zip

# IDE
.vscode/
.idea/
*.swp
*.swo

# Test artifacts
testeeeeeeeee.hrt

# Environment
.env
.venv/
venv/
